# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\qipai_002\qipai_002\SVN\U3DClient\null_code_hub-bzdz_u3d-master\bzdz_u3d\Assets\f_game\Lua\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
